node_modules
dist
coverage
*.tsbuildinfo
.env
.env.local

# CDK
cdk.out
cdk.context.json

# Local files
DEMO-PLAN.md
tmp-*.yml

# Example build artifacts
examples/**/lib/*.js
examples/**/lib/*.js.map
examples/**/lib/*.d.ts
examples/**/lib/*.d.ts.map
